[submodule "libs/libtesla"]
	path = libs/libtesla
	url = https://github.com/masagrator/libtesla
[submodule "libs/libshijima"]
	path = libs/libshijima
	url = git@github.com:pixelomer/libshijima
[submodule "libs/qutex"]
	path = libs/qutex
	url = git@github.com:pixelomer/qutex
